<div class="container">
  <h3>Register a new account.</h3>
  <form action="">
    <div class="form-group">
      <label for="first_name">First name</label>
      <input type="text" class="form-control" id="first_name" placeholder="First name">
    </div>
    <div class="form-group">
      <label for="last_name">Last name</label>
      <input type="text" class="form-control" id="last_name" placeholder="Last name">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="username" placeholder="Password">
      <small id="emailHelp" class="form-text text-muted">We'll never ask for your account information.</small>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" style="margin-right: 5px;">
      <label class="form-check-label" for="exampleCheck1">I agree to all terms and conditions.</label>
    </div>
    <button type="submit" class="btn btn-default" routerLink='/Login'>Submit</button>
  </form>
</div>

  <router-outlet></router-outlet>

