<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <a routerLink="/"><img
          src="http://navigator-upload-prod.s3.amazonaws.com/attachments/files/000/004/594/medium/authority-partners-logo.jpg"
          alt="AP Logo"></a>
    </div>
    <div class="col-xs-5">
      <div class="jumbotron" style="background-color: transparent;">
        <h1>AP SHOP</h1>
      </div>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-light" routerLink="/Login">Log In</button>
      <button class="btn btn-dark" routerLink="/Register">Register</button>
    </div>
  </div>
</div>
