<app-header></app-header>
<div class="container">
  <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Product Details</h2>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>Product Name</th>
            <td>John</td>
          </tr>
          <tr>
            <th>Publish date</th>
            <td>Carter</td>
          </tr>
          <tr>
            <th>Condition</th>
            <td>johncarter@mail.com</td>
          </tr>
          <tr>
            <th>Gender</th>
            <td>johncarter@mail.com</td>
          </tr>
          <tr>
            <th>Color</th>
            <td>johncarter@mail.com</td>
          </tr>
          <tr>
            <th>Model</th>
            <td>johncarter@mail.com</td>
          </tr>
          <tr>
            <th>Published by</th>
            <td>johncarter@mail.com</td>
          </tr>
          <tr>
            <th>Product Price</th>
            <td>johncarter@mail.com</td>
          </tr>
          <tr>
            <th>Shipping Price</th>
            <td>johncarter@mail.com</td>
          </tr>
          <tr>
            <th>Shipping Country</th>
            <td>johncarter@mail.com</td>
          </tr>
          <tr>
            <th>Total Price</th>
            <td>johncarter@mail.com</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
      <br>
      <div class="availability">
        <input type="text" class="form-control classname" value="Product Availability" readonly />
      </div>
      <br>
      <div class="sold-items">
        <input type="text" class="form-control classname" value="Sold products" readonly />
      </div>
      <br>
      <br>
      <div class="quantity-label">
        <input type="text" class="form-control classname" value="Quantity" readonly />
      </div>
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus"
            data-field="quant[1]">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </span>
        <input type="text" name="quantity" class="form-control input-number" value="1" min="1"
          style="text-align: center;">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </span>
      </div>
      <br>
      <br>
      <div class="d-flex justify-content-center add-to-cart">
        <button class="btn btn-default btn-cart btn-lg" routerLink="/Cart">Add To Cart</button>
      </div>
      <br>
      <br>
      <div class="buy-now">
        <button class="btn btn-default btn-buy btn-lg" routerLink="/Checkout">Buy Now</button>
      </div>
    </div>
  </div>
</div>
