<div class="container">
        <div class="row">
          <form action="">
            <div class="form-inline">
              <div class="col-md-9">
                <div class="form-group">
                  <input type="text" class="form-control" name="search" id="search" placeholder="Search for items.."
                    size="118">
                </div>
              </div>
              <div class="col-md-1">
                <div class="form-group">
                  <select class="form-control " name="filter" id="filter">
                    <option value="bla" hidden="">Filter by</option>
                    <option value="bla1">BLA1</option>
                    <option value="bla2">Bla2</option>
                    <option value="bla3">bla3</option>
                  </select>
                </div>
              </div>
              <div class="col-md-1">
                <div class="form-group">
                  <select class="form-control" name="sort" id="sort">
                    <option value="bla" hidden="">Sort by</option>
                    <option value="bla1">kya</option>
                    <option value="bla2">kya</option>
                    <option value="bla3">kya</option>
                  </select>
                </div>
              </div>
              <div class="col-md-1">
                <div class="form-group">
                  <button type="submit" class="btn btn-info">Search</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
