<div class="navbar">
  <form action="">
    <div class="form-group pull-left">
      <input type="text" class="form-control" name="search" id="search" placeholder="Search for items.." size="100">
    </div>
    <div class="form-group pull-right">
      <button type="submit" class="btn btn-default">Search</button>
    </div>
    <div class="form-group pull-right">
      <select class="form-control " name="filter" id="filter">
        <option value="bla" hidden="">Filter by</option>
        <option value="bla1">BLA1</option>
        <option value="bla2">Bla2</option>
        <option value="bla3">bla3</option>
      </select>
    </div>
    <div class="form-group pull-right">
      <select class="form-control" name="sort" id="sort">
        <option value="bla" hidden="">Sort by</option>
        <option value="bla1">kya</option>
        <option value="bla2">kya</option>
        <option value="bla3">kya</option>
      </select>
    </div>
    <div class="form-group pull-left">
      <select class="form-control " name="category" id="category">
        <option value="bla" hidden="">All Categories</option>
        <option value="bla1">BLA1</option>
        <option value="bla2">Bla2</option>
        <option value="bla3">bla3</option>
      </select>
    </div>
  </form>
</div>
