.navbar {
  padding-top: 20px;
}

select {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: lightgray;
  color: black;
  margin-right: 5px;
  padding-right: 5px;
}

button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: crimson;
  color: white;

}

input {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
