.container {
    margin-top: 20px;
}

select {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gray;
    color: black;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blue;
    color: white;
}

input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}